.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 800px;
}

.story {
  margin: 4px 0px;
}

.end-divider {
  color: gray;
  text-align: center;
  margin: 5px 0px;
  border: 1px solid gray;
  padding: 2px;
}

@keyframes highlight {
  from {
    background: yellow;
  }
  to {
    background: rgba(0, 0, 0, 0);
  }
}

@keyframes fuck {
  0% {
    color: white;
  }
  10% {
    color: red;
  }
  20% {
    color: green;
  }
  30% {
    color: purple;
  }
  40% {
    color: yellow;
  }
  50% {
    color: blue;
  }
  60% {
    color: gray;
  }
  70% {
    color: pink;
  }
  80% {
    color: aqua;
  }
  90% {
    color: black;
  }
  100% {
    color: white;
  }
}
