.canon-section {
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  background: rgba(244, 244, 244, 0.8);
  padding: 8px;
  border-radius: 8px;
}

.divider {
  display: relative;
  top: 0px;
  bottom: 0px;
  width: 1px;
  min-width: 1px;
  background: black;
}

.meta-text-container {
  color: rgba(70, 70, 70, 1);
  display: flex;
  flex-direction: column;
  width: 80px;
  min-width: 80px;
  margin-right: 10px;
}

.meta-text {
  margin-top: 16px;
  word-break: break-word;
}

.canon-text-container {
  margin-left: 10px;
  /* border-left: 1px solid black; */
}

.canon-text {
  word-break: break-word;
}
