.selector-outer {
  display: flex;
  flex-direction: column;
}

.selector-inner {
  display: flex;
  flex-direction: row;
}

.vertical-button {
  flex: 1;
  background: red;
  height: 100%;
  min-height: 40px;
  cursor: pointer;
  word-break: break-all;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgray;
  padding: 4px;
  margin: 2px;
  border-radius: 8px;
  user-select: none;
}

.selector-item {
  flex: 1;
}
