.selector-outer {
  display: flex;
}

.vertical-button {
  background: red;
  width: 20px;
  height: 100%;
  min-height: 40px;
  cursor: pointer;
  word-break: break-all;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgray;
  padding: 4px;
}

.selector-item {
  flex: 1;
  border: 1px solid black;
}
